body{
    background-color: rgb(185, 105, 80);

}

h1{
    font-weight: bold;
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}
.input{

        width:30%;
        margin-left:50px;
        box-shadow: 2px 2px 2px rgba(0,0,0);
        border:none;
        border-radius:10px;
        height:5%

}



.add-btn{
    background-color: rgb(2, 158, 255);
color:crimson;
    border:none;
    width:90px;
    margin-left:10px;
    margin-top:12px;
    font-weight:bold;
    border-radius: 10px;
    height:5%;
    transition: opacity 0.10s;
    cursor:pointer;

}

.add-btn:hover{
    opacity: 0.7;
}

.f1{
    text-align: center;
}



h2{
    text-align: center;
    margin-right:60px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



.text{
    width:30%;
    display:flex;
    
    margin-left:33%;
    box-shadow: 2px 2px 2px rgba(0,0,0);
    border:none;
    border-radius:10px;
    height:5%

}

.edit{
    background-color: rgb(2, 158, 255);
    color:white;
    justify-content: space-between;
    border:none;
    width:90px;
    margin-left:400px;

    margin-top:25px;
    font-weight:bold;
    border-radius: 10px;
    height:5%;
    transition: opacity 0.10s;
    cursor:pointer;
}

.edit:hover{
    opacity:0.7;
}

.delete{
    background-color: rgb(2, 158, 255);
    color:white;
    justify-content: space-between;
    border:none;
    
    width:90px;
    margin-left:0px;
    margin-top:12px;
    font-weight:bold;
    border-radius: 10px;
    height:5%;
    transition: opacity 0.10s;
    cursor:pointer;
}
.delete:hover{
    opacity:0.7;
}